cached_layout
conf/fcitx-notify.config
conf/fcitx-pinyin-enhance.config
conf/fcitx-pinyin.config
dbus/*
googlepinyin/
clipboard/

clipboard/history.dat
log/crash.log
.undodir
.vim-session*

rime/build
./rime/user.yaml
rime/luna_pinyin.userdb
